#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#appName{
  font-size: 50px;
  display: flex;
  flex-direction: row;
}

#appName h1 {
  margin: 0 5px 5px 5px; /* top, right, bottom, left */
}

#btns{
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.btn{
  width: 130px;
  font-size: 25px;
  height: 50px;
  background-color: #236476;
  border: none;
}

.btn:hover{
  background-color: #1d5362;
}